.textos {
    color: white;
}

.box1 {
    background-color: #2d97d8;
    height: 80px;
}

.box2 {
    background-color: #2d97d8;
    height: 60px;
}

.redes {
    font-size: 60;
    color: white
}

.textos {
    color: white;
}